@import "common.scss";
@font-face {
    font-family: "test-font";
    src: url('../font/test-font.eot'); 
}
body{font-family:Helvetica Neue,Helvetica,STHeiTi,sans-serif,microsoft yahei,"test-font"}

.img{width:500px;
    img{display: block;width:100%;}
}

.bg-img{width:500px;min-height:275px;background:url(~@assets/images/12.jpg) no-repeat left top;background-size:500px auto;}