$backgroundColor:#F9F9FF;
$blackColor:#000;
$whiteColor:#fff;
$mainColor:#6456C6;

$txtColor-0:#303133;
$txtColor-1:lighten($txtColor-0,20%); //#666
$txtColor-2:lighten($txtColor-0,40%); //#999
$txtColor-3:lighten($txtColor-0,60%); //#ddd

$borColor-0:#D8D8E7;
$borColor-1:lighten($borColor-0,2%);
$borColor-2:lighten($borColor-0,4%);
$borColor-3:lighten($borColor-0,8%);



@mixin box($direction:row,$align:flex-start,$justify:flex-start){
    display:flex;
    flex-direction:$direction;
    align-items:$align;
    justify-content:$justify;
}
@mixin box-c{
    @include box($direction:row,$align:center,$justify:center)
}
@mixin align-c{
    @include box($direction:row,$align:center,$justify:flex-start)
}
@mixin align-s{
    @include box($direction:row,$align:flex-start,$justify:flex-start)
}
@mixin justify-c{
    @include box($direction:row,$align:flex-start,$justify:center)
}

@mixin box-column{
    @include box($direction:column,$align:flex-start,$justify:flex-start)
}
@mixin box-column-e{
    @include box($direction:column,$align:flex-end,$justify:flex-start)
}
@mixin box-column-c{
    @include box($direction:column,$align:center,$justify:center)
}

@mixin align-column-c{
    @include box($direction:column,$align:center,$justify:flex-start)
}
@mixin justify-column-c{
    @include box($direction:column,$align:flex-start,$justify:center)
}

@mixin box-flex {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
}

@mixin box-shadow($shadow:5px,$color:$borColor-3){
    box-shadow:0 0 $shadow 0 $color;
}

@mixin ellipsis($line:1){
    @if $line==1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    @else {
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
