@import "common.scss";
.img{width:500px;
    img{display: block;width:100%;}
}

.bg-img{width:500px;min-height:275px;background:url(~@/Style/Images/12.jpg) no-repeat left top;background-size:500px auto;}